@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

:root {
  font-family: 'Patrick Hand SC', Arial, Helvetica, sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: 'black';
  background-color: 'white';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: pointer;
}